name: Download EPG Daily

on:
  schedule:
    # Каждый день в 3:00 UTC
    - cron: '0 */1 * * *' # Каждый час, в 0 минут
  workflow_dispatch:  # Позволяет запускать вручную
  push:  # Запускать при изменениях

jobs:
  download-epg:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Download EPG file
      run: |
        # Скачиваем файл
        mkdir -p epgs

        # 1. Скачиваем во ВРЕМЕННЫЙ файл
        TEMP_FILE="epgs/epg-lite.xml.tmp"
        curl -s -L -o "$TEMP_FILE" https://cdn.epg.one/epg2.xml

        # 2. Проверяем, что файл не пустой и достаточно большой
        FILE_SIZE=$(stat -c%s "$TEMP_FILE" 2>/dev/null || wc -c < "$TEMP_FILE")
        echo "Размер скачанного файла: $FILE_SIZE байт"
        
        if [ $FILE_SIZE -lt 1000000 ]; then  # Меньше 1MB
          echo "ОШИБКА: Файл слишком маленький (меньше 1MB)"
          rm -f "$TEMP_FILE"
          exit 1
        fi
        
        # 3. Верификацию xml пропустил
       
        # 4. АТОМАРНО заменяем старый файл
        mv -f "$TEMP_FILE" "epgs/epg-lite.xml"
        
        echo "Файл успешно обновлен"

    - name: Commit and push if changed
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        
        if [[ `git status --porcelain` ]]; then
          git add epg-lite.xml
          git commit -m "Update EPG: $(date +'%Y-%m-%d %H:%M')"
          git push
        else
          echo "Нет изменений для коммита"
        fi


    - name: Commit and push if changed
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        
        # Проверяем изменения в папке epgs
        if [[ $(git status --porcelain epgs/) ]]; then
          git add epgs/
          git commit -m "Update EPG: $(date +'%Y-%m-%d %H:%M')"
          git push
        else
          echo "Нет изменений для коммита"
        fi

